.container {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  align-items: center;
}

.auctionArea {
  width: 500px;
  padding: 20px;
}

.auctionForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#uploadArea {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;

  border: 4px dashed yellow;

  width: 261.5px;
}

#uploadArea img {
  
}

#uploadArea span {
  
}

.auctionForm > div {
  width: 261.5px;
  margin-bottom: 10px;

  flex-direction: column;
  align-self: center;
  display: flex;
}

.auctionForm input, 
.auctionForm textarea {
  border: 2px solid #ccc;
}

.auctionForm input {
  height: 35px;
  font-family: 'regular';
  font-size: 100%;
  text-align: center;
}

.auctionForm textarea {
  height: 70px;
  font-family: 'regular';
  resize: vertical;

  box-sizing: border-box;
  padding: 8px;
}

.auctionForm input[type=submit] {
  margin-top: 10px;
  background-color: #555;
  border-radius: 4px;
  color: white;
  font-family: 'bold';
  padding: 10px 0;
  width: 100%;
  border: none;
  font-size: 20px;
  height: auto;
  cursor: pointer;
}

.auctionForm label {
  font-family: 'bold';
}

#timeoutInput {
  margin-top: 10px;

  align-items: stretch;
  flex-direction: row;
  display: flex;
}

#timeoutInput > input:first-child {
  margin-right: 10px;
}

#timeoutInput > input {
  width: 100%;
}