.container {
  justify-content: space-between;
  flex-direction: row;
  display: flex;

  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }
}

#auctionList {
  width: 300px;
  max-height: 80vh;
  overflow-y: scroll;

  box-sizing: border-box;
  padding-right: 10px;
}

/* width */
#auctionList::-webkit-scrollbar {
  width: 6px;
}

/* Track */
#auctionList::-webkit-scrollbar-track {
  background: #f5f6fa;
  border-radius: 8px;
}

/* Handle */
#auctionList::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #dfe6e9;
}

/* Handle on hover */
#auctionList::-webkit-scrollbar-thumb:hover {
  background: #b2bec3;
}

.blankSpace {
  user-select: none;
  width: 300px;
}

.auctionArea {
  width: 500px;
  padding: 50px;
}

.auctionForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auctionForm > div {
  width: 261.5px;
  margin-bottom: 10px;

  flex-direction: column;
  align-self: center;
  display: flex;
}

.auctionForm input, 
.auctionForm textarea {
  border: 2px solid #ccc;
}

.auctionForm input {
  height: 35px;
  font-family: 'regular';
  font-size: 100%;
  text-align: center;
}

.auctionForm textarea {
  height: 70px;
  font-family: 'regular';
  resize: vertical;

  box-sizing: border-box;
  padding: 8px;
}

.auctionForm input[type=submit] {
  margin-top: 10px;
  background-color: #555;
  border-radius: 4px;
  color: white;
  font-family: 'bold';
  padding: 10px 0;
  width: 100%;
  border: none;
  font-size: 20px;
  height: auto;
  cursor: pointer;
}

.auctionForm label {
  font-family: 'bold';
}

#timeoutInput {
  margin-top: 10px;

  align-items: stretch;
  flex-direction: row;
  display: flex;
}

#timeoutInput > input:first-child {
  margin-right: 10px;
}

#timeoutInput > input {
  width: 100%;
}